/* app.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* The styles from index.css related to the .app class and other layout-specific styles should be moved here */
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.app:before {
  content: '';
  background: url('./assets/beach.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-weight: 700;
}

/* Add the following CSS styles to your existing CSS file */

.forecast {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  /* Add this to reduce the gap between the little boxes */
}

.forecast-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.forecast-box p {
  margin-top: 0.5rem;
  color: #fff;
  /* Add this to set the text color to white */
  font-size: 1.2rem;
  /* Add this to increase the font size */
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .forecast {
    flex-wrap: wrap;
    justify-content: center;
  }

  .forecast-box {
    margin: 1rem;
  }
}

.view-more-button {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(249, 249, 249, 0.2);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.view-more-button:hover {
  background-color: rgba(48, 46, 46, 0.2);
}