/* login.css */

body {
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* The styles from index.css related to the login-container class should be moved here */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.2);
    /* Updated to 70% transparent */
    backdrop-filter: blur(10px);
    /* Apply blur effect to the background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
}

/* The styles from index.css related to input should be moved here */
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #f8f8f8;
    /* Change the text color to black */
}

/* Transparent placeholder text */
input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

/* The styles from index.css related to login-button should be moved here */
.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}